footer
    - var currYear = new Date().getYear() + 1900;
    p &copy;&nbsp;2019-
        !=currYear
        | &nbsp;
        a(target="_blank", href=config.url,  rel="noopener noreferrer")!=theme.author ? theme.author : config.author ? config.author : config.title
    p Theme by&nbsp;
        a(target="_blank", href="https://github.com/prnake/hexo-theme-typography", rel="noopener noreferrer") Typography
    p Proudly published with&nbsp;
        a(target="_blank", href="https://hexo.io", rel="noopener noreferrer") Hexo
    p 
        a(target="_blank", href="/sitemap.xml") 站点地图 · 
        a(target="_blank", href="http://beian.miit.gov.cn/", rel="noopener noreferrer")!=theme.beian
    p 
        span#since
        span.my-face() (=^･ｪ･^=)