div#side-bar.col-sm-3.col-xs-12.side-container.invisible
    div.vertical-text.site-title
        h3.site-title-small(tabindex="-1" style="outline:none")
            a#hitokoto.a-title(href=config.root style="outline:none")= theme.title_secondary
        h1.site-title-large(tabindex="-1" style="outline:none")
            a.a-title(href=config.root style="outline:none")= theme.title_primary
    br.visible-lg.visible-md.visible-sm
    include nav