@charset "UTF-8";
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein-right {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
/* Firefox < 16 */
@-moz-keyframes fadein-right {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein-right {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
/* Internet Explorer */
@-ms-keyframes fadein-right {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
/* Opera < 12.1 */
@-o-keyframes fadein-right {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fadein-top {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
/* Firefox < 16 */
@-moz-keyframes fadein-top {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein-top {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
/* Internet Explorer */
@-ms-keyframes fadein-top {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
/* Opera < 12.1 */
@-o-keyframes fadein-top {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes swift-down {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(20%);
  }
}
/* Firefox < 16 */
@-moz-keyframes swift-down {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(20%);
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes swift-down {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(20%);
  }
}
/* Internet Explorer */
@-ms-keyframes swift-down {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(20%);
  }
}
/* Opera < 12.1 */
@-o-keyframes swift-down {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(20%);
  }
}
.invisible {
  opacity: 0;
}

.fadeIn {
  -webkit-animation: fadein 1s ease-out;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s ease-out;
  /* Firefox < 16 */
  -ms-animation: fadein 1s ease-out;
  /* Internet Explorer */
  -o-animation: fadein 1s ease-out;
  /* Opera < 12.1 */
  animation: fadein 1s ease-out;
}

.fadeInRight {
  -webkit-animation: fadein-right 1s ease-out;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein-right 1s ease-out;
  /* Firefox < 16 */
  -ms-animation: fadein-right 1s ease-out;
  /* Internet Explorer */
  -o-animation: fadein-right 1s ease-out;
  /* Opera < 12.1 */
  animation: fadein-right 1s ease-out;
}

.fadeInTop {
  -webkit-animation: fadein-top 1s ease-out;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein-top 1s ease-out;
  /* Firefox < 16 */
  -ms-animation: fadein-top 1s ease-out;
  /* Internet Explorer */
  -o-animation: fadein-top 1s ease-out;
  /* Opera < 12.1 */
  animation: fadein-top 1s ease-out;
}

.swiftDown {
  -webkit-animation: swift-down 1s ease-out;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: swift-down 1s ease-out;
  /* Firefox < 16 */
  -ms-animation: swift-down 1s ease-out;
  /* Internet Explorer */
  -o-animation: swift-down 1s ease-out;
  /* Opera < 12.1 */
  animation: swift-down 1s ease-out;
}

.swiftDownReversed {
  -webkit-animation: swift-down 1s reverse ease-out;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: swift-down 1s reverse ease-out;
  /* Firefox < 16 */
  -ms-animation: swift-down 1s reverse ease-out;
  /* Internet Explorer */
  -o-animation: swift-down 1s reverse ease-out;
  /* Opera < 12.1 */
  animation: swift-down 1s reverse ease-out;
}

html p,
html h1,
html h2,
html h3,
html h4,
html h5,
html h6 {
  font-family: "Lora", "Noto Serif SC", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "'Hiragino Sans GB", STHeiti, "Microsoft Yahei", "Source Han Sans SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei", Arial, Verdana, sans-serif;
  color: #222;
}
html.serif body,
html.serif span,
html.serif p,
html.serif h1,
html.serif h2,
html.serif h3,
html.serif h4,
html.serif h5,
html.serif h6 {
  font-family: "Source Han Serif CN", "Source Han Serif SC", "Source Han Serif", "source-han-serif-sc", "Noto Serif SC", "Noto Serif", "noto-serif-sc", "PT Serif", "SongTi SC", serif;
}

.fa {
  font-family: FontAwesome;
}

html {
  background: #fafafa;
}

.foreground {
  background: #606975 !important;
}

.background {
  background: #fafafa !important;
}

.foreground-text * {
  color: #606975 !important;
}

.background-text * {
  color: #fafafa !important;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}

body {
  font-size: 18px;
  line-height: 1.5em;
  background-repeat: repeat;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
  min-height: 100vh;
}
body::before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.05;
  position: fixed;
  background: center/cover no-repeat;
  background-image: url(/images/bg_1.jpg);
}

.container {
  background-color: transparent;
  padding: 0;
  position: relative;
}

.full-width-container {
  width: 100vw;
}

.main-container {
  text-align: left;
  margin: 0;
  padding: 80px 40px;
  overflow: hidden;
  float: left;
}

.row {
  margin: 0;
}

.vertical-text {
  writing-mode: vertical-rl;
}
.vertical-text * {
  line-height: 1;
  text-align: left;
}

.side-container {
  height: 100vh;
  position: fixed;
  right: 0;
  font-style: normal;
  font-size: 1em;
  margin: 0;
  transform: rotate(0deg);
  text-align: left;
  float: right;
  padding: 80px 20px;
}

.ar-year {
  margin-top: 5px;
  margin-bottom: 5px;
}

.date {
  margin-bottom: 0px;
}

.ar-date {
  font-size: 16px;
  margin-bottom: 5px;
}

.archive :first-child {
  padding-left: 0;
}

.site-title {
  font-weight: bolder;
  font-style: normal;
  width: auto;
  height: auto;
  margin: 0 0 0 -2px;
  text-align: left;
  font-size: 0.5em;
  padding: 0 0 20px 0;
  border-left: solid #606975 2px;
  transition: padding 0.8s ease 0s, background 0.8s ease 0s;
}
.site-title:hover {
  padding: 15px 0 5px 0;
  color: #fafafa !important;
  background: #606975 !important;
  border-left: solid #606975 2px;
}
.site-title:hover * {
  color: #fafafa !important;
}
.site-title :first-child {
  margin-right: 10px;
}
.site-title * {
  text-align: left;
  font-weight: bolder;
  margin-top: 0;
  margin-left: 10px;
  margin-right: 0;
  font-family: "HiraMinProN-W6", "Source Han Serif CN", "Source Han Serif SC", "Source Han Serif TC", serif;
}

.site-title-large {
  font-size: 50px;
  padding-top: 0;
}

.site-title-small {
  font-size: 30px;
  padding-top: 1px;
}

.site-title-links {
  font-weight: bold;
  font-style: normal;
  margin: 0;
  padding: 60px 0;
  text-align: left;
  position: fixed;
  bottom: 0px;
}

.site-title-links ul {
  list-style: none;
  padding: 0;
}

.site-title-links ul li {
  display: block;
  margin: 5px 0;
  font-size: 18px;
}

.no-margin-left {
  margin-left: 0;
}

.no-margin-right {
  margin-right: 0;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

a {
  color: #606975;
  cursor: pointer;
  cursor: hand;
}
a:hover, a:focus {
  text-decoration: none;
}

.post-container p a {
  transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
  -moz-transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
  -webkit-transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
  border-bottom: solid #222 1px;
  padding-top: 0.2em;
}
.post-container p a:hover {
  color: #fafafa !important;
  background-color: #898b90;
  border-bottom: solid transparent 1px;
}
.post-container p a:focus {
  color: #1b1e21;
}

.a-title {
  text-decoration: none;
  background-color: transparent;
  border-bottom: solid transparent 1px;
}
.a-title:hover, .a-title:focus {
  background-color: transparent;
}

.current {
  border-bottom: solid #606975 2px !important;
}

.a-mute {
  background-color: transparent;
  color: #606975 !important;
  text-decoration: none;
  border-bottom: none;
}
.a-mute:hover, .a-mute:focus {
  background-color: transparent;
  color: #606975 !important;
  text-decoration: none;
  border-bottom: none;
}

.soc {
  margin: 0 5px 0 0;
  font-size: 18px !important;
}
.soc a {
  border-bottom: solid transparent 2px;
}
.soc a:hover {
  color: #788290 !important;
  background-color: transparent !important;
  text-decoration: none;
  border-bottom: solid rgba(0, 0, 0, 0) 2px;
}
.soc a:focus {
  color: #788290 !important;
}

.meta-item {
  margin: 0 10px 0 0;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

footer {
  margin-top: 10px;
  padding-top: 0;
  font-size: 12px;
  font-weight: bold;
}
footer p {
  color: #606975 !important;
}

footer * {
  margin: 0;
}

.post-container {
  margin: 0 0 20px 0;
  font-weight: normal;
}

.post-title {
  font-size: 24px;
  font-weight: bold;
  margin: 3px 0;
}

.post-meta {
  font-size: 16px;
  margin: 10px 0;
}

.post-abstract {
  font-size: 18px;
}

li {
  margin: 5px 0;
}

figure {
  overflow: scroll;
}

figure > table {
  width: 100%;
}

@media (max-width: 768px) {
  body {
    line-height: normal;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 34px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 14px;
  }

  .site-title-large {
    font-size: 38px;
  }

  .site-title-small {
    font-size: 22px;
  }

  .vertical-text {
    writing-mode: horizontal-tb;
  }

  .site-title {
    margin: 0;
    font-weight: bolder;
    font-style: normal;
    width: auto;
    height: auto;
    font-size: 0.5em;
    padding: 0;
    border-left: none;
    text-align: center;
    transition: none;
  }

  .site-title * {
    text-align: center;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .site-title:hover {
    color: #606975 !important;
    background: transparent !important;
    padding: 0;
    border: none;
  }

  .site-title:hover * {
    color: #606975 !important;
    background: transparent !important;
  }

  .main-container {
    text-align: left;
    height: auto;
    margin: 0;
    padding: 20px 30px;
    overflow: auto;
  }

  .side-container {
    padding: 40px 30px 0 30px;
    height: auto;
    position: relative;
    left: 0;
  }

  .site-title-links {
    position: unset;
    padding: 10px 0;
    margin: 10px 0;
    text-align: center;
  }

  .site-title-links ul li {
    display: inline;
    margin: 0 3px;
    font-size: 16px;
  }

  footer {
    padding-top: 30px;
    padding-bottom: 35px;
  }

  a {
    padding: 0;
  }

  .post-title {
    font-size: 20px;
    font-weight: bold;
    margin: 3px 0;
  }

  .post-meta {
    font-size: 14px;
    margin: 10px 0;
  }

  .post-abstract {
    font-size: 16px;
  }

  .soc {
    display: block !important;
  }

  .site-nav-footer {
    display: none !important;
  }

  .site-bottom-footer {
    display: block !important;
  }

  li.soc {
    margin-top: 5px !important;
  }
}
@media only screen and (max-height: 860px) {
  .site-title-large {
    font-size: 32px;
  }

  .site-title-small {
    font-size: 20px;
  }

  .site-title-links ul li {
    font-size: 14px;
    line-height: 1.3;
  }

  .site-nav-footer-br {
    display: none;
  }

  .side-container {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .main-container {
    padding-top: 40px;
    padding-bottom: 60px;
  }
}
@media only screen and (max-height: 600px) {
  body {
    line-height: normal;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 34px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 14px;
  }

  .site-title-large {
    font-size: 38px;
  }

  .site-title-small {
    font-size: 22px;
  }

  .vertical-text {
    writing-mode: horizontal-tb;
  }

  .site-title {
    margin: 0;
    font-weight: bolder;
    font-style: normal;
    width: auto;
    height: auto;
    font-size: 0.5em;
    padding: 0;
    border-left: none;
    text-align: center;
    transition: none;
  }

  .site-title * {
    text-align: center;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .site-title:hover {
    color: #606975 !important;
    background: transparent !important;
    padding: 0;
    border: none;
  }

  .site-title:hover * {
    color: #606975 !important;
    background: transparent !important;
  }

  .main-container {
    text-align: left;
    height: auto;
    margin: 0;
    padding: 20px 30px;
    overflow: auto;
  }

  .side-container {
    padding: 40px 30px 0 30px;
    height: auto;
    position: relative;
    left: 0;
  }

  .site-title-links {
    position: unset;
    padding: 10px 0;
    margin: 10px 0;
    text-align: center;
  }

  .site-title-links ul li {
    display: inline;
    margin: 0 3px;
    font-size: 16px;
  }

  footer {
    padding-top: 30px;
    padding-bottom: 35px;
  }

  a {
    padding: 0;
  }

  .post-title {
    font-size: 20px;
    font-weight: bold;
    margin: 3px 0;
  }

  .post-meta {
    font-size: 14px;
    margin: 10px 0;
  }

  .post-abstract {
    font-size: 16px;
  }

  .soc {
    display: block !important;
  }

  .site-nav-footer {
    display: none !important;
  }

  .site-bottom-footer {
    display: block !important;
  }
}
html::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

html::-webkit-scrollbar-thumb {
  height: 40px;
  background-color: #eee;
  border-radius: 16px;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #ddd;
}

html, body {
  overflow-y: scroll;
}

html, body {
  overflow: scroll;
  min-height: 101%;
}

html {
  overflow: -moz-scrollbars-vertical;
}

body {
  color: #606975;
  font-weight: 400;
}
body .site-title * {
  font-family: "Noto Serif SC", "HiraMinProN-W6", "Source Han Serif CN", "Source Han Serif SC", "Source Han Serif TC", serif;
}

.main-container p {
  margin: 10px 0 0;
  font-size: 17px;
  line-height: 1.7em;
  letter-spacing: 0.6px;
}
.main-container video {
  max-width: 100%;
}
.main-container p.post-title {
  font-size: 20px;
  line-height: 1.35em;
}
.main-container h1.post-title {
  font-size: 30px;
  margin-top: 0;
}
.main-container .post-meta {
  font-size: 14px;
  line-height: 1.35em;
}

.archive .post-title {
  font-size: 17px;
}

a:not[data=""] {
  padding: 4px 2px 2px;
}
a:not[data=""].headerlink {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-family: "Lora", "Noto Serif SC", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "'Hiragino Sans GB", STHeiti, "Microsoft Yahei", "Source Han Sans SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei", Arial, Verdana, sans-serif;
}

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #FFC0CB;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #FFC0CB, 0 0 5px #FFC0CB;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #FFC0CB;
  border-left-color: #FFC0CB;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.image-title {
  display: inline-block;
  width: 100%;
  text-align: right;
  font-size: 10px;
}

/*ImageBox*/
.image-box-plugin {
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(253, 246, 243, 0.9);
  z-index: 999;
  display: none;
}
.image-box-plugin img {
  min-width: 20%;
  max-width: 100%;
  max-height: 100%;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
  cursor: zoom-out;
}
.image-box-plugin .image-box-container {
  position: absolute;
  top: 50%;
  -webkit-transform: translate3D(0, -50%, 0);
  transform: translate3D(0, -50%, 0);
  width: 100%;
  height: 100%;
  text-align: center;
  display: -moz-box;
  -moz-box-align: center;
  -moz-box-pack: center;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  display: -o-box;
  -o-box-align: center;
  -o-box-pack: center;
  display: -ms-box;
  -ms-box-align: center;
  -ms-box-pack: center;
  box-align: center;
  box-pack: center;
}

.post-container p img {
  position: relative;
  min-height: 50px;
  box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.03);
  display: block;
  margin: 0 auto;
  text-align: center;
  border-radius: 6px;
  width: 100% \9 ;
  max-width: 100%;
  max-height: 500px;
  height: auto;
  transition: all 0.6s;
}
.post-container p img:hover {
  transform: scale(1.03);
  animation-timing-function: ease-in-out;
  animation-name: breathe;
  animation-duration: 2700ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.post-container p img::before {
  content: " 啊哦，这张图片加载失败了… (" attr(alt) ")";
  font-family: FontAwesome;
  font-size: 16px;
  line-height: 40px;
  position: absolute;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: #fafafa;
  border-width: 2px;
  border-style: dotted;
  border-image: initial;
  border-radius: 5px;
}

@keyframes breathe {
  0% {
    border: 1px solid rgba(153, 196, 251, 0.8);
    box-shadow: 0 1px 5px rgba(133, 213, 245, 0.8);
  }
  100% {
    border: 1px solid rgba(153, 196, 251, 0.8);
    box-shadow: 0 1px 25px rgba(133, 213, 245, 0.8);
  }
}
/*The 'target="_blank"' link use alias cursor*/
a[target=_blank],
a[target=_blank] img {
  cursor: alias;
}

.v .vwrap {
  background: #fff9;
}

/*Hide download button for HTML5 audio and video element in chrome*/
audio::-internal-media-controls-download-button,
video::-internal-media-controls-download-button {
  display: none;
}

audio::-webkit-media-controls-enclosure,
video::-webkit-media-controls-enclosure {
  overflow: hidden;
}

audio::-webkit-media-controls-panel,
video::-webkit-media-controls-panel {
  width: calc(100% + 30px);
}

#valine-container .vcontent p {
  font-size: 14px;
}

.donate-address {
  display: inline;
  position: fixed;
  font-size: 12px;
  line-height: 1.5em;
  left: 0;
  bottom: 0;
  margin-left: 5px;
  overflow: hidden;
  opacity: 0.6;
  transition: all 0.3s;
}
.donate-address:hover {
  opacity: 1;
}

.about-avatar {
  position: absolute;
  z-index: 2;
  right: 10%;
  width: 200px;
  height: 200px;
  background: url(https://imjad.cn/usr/themes/Moricolor/img/shinobux3.png?v=1) no-repeat 0 0;
}

.about-avatar:hover {
  background-position: -200px 0;
}

.about-avatar:active {
  background-position: -400px 0;
}

@media (min-width: 768px) {
  a[target=_blank] {
    position: relative;
  }
  a[target=_blank]:hover::before {
    color: #404d5b;
    background: #fafafa;
    border-bottom: solid 1px;
    border-color: #404d5b;
    transition-delay: 0s, 0s, 0s, 0.1s;
    transform: scale(1) translateY(-75%);
    pointer-events: auto;
  }
  a[target=_blank]::before {
    font-size: 10px;
    font-weight: 600;
    content: " " attr(href);
    font-family: FontAwesome;
    position: absolute;
    top: -50%;
    margin: 0;
    padding: 0 2px;
    width: max-content;
    max-width: 800px;
    white-space: pre-wrap;
    word-break: break-all;
    transition: opacity 0.3s, color 0.3s, transform 0.3s, background-position 0.2s;
    transition-delay: 0s, 0s, 0s, 0s;
    transform: scale(0.5);
    transform-origin: left;
    background-color: #0000;
    line-height: 1.4em;
    color: #0000;
    pointer-events: none;
    text-shadow: none;
    text-indent: 0;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 15px;
  }

  h2 {
    font-size: 24px;
    margin: 14px 0 8px;
  }

  h3 {
    font-size: 20px;
    margin-top: 10px;
  }

  h4 {
    font-size: 16px;
  }

  li.soc {
    margin-top: 12px !important;
  }

  .side-container {
    padding-top: 30px;
    padding-bottom: 0;
  }

  .main-container {
    padding: 4px 16px;
  }
  .main-container a {
    border-width: 1px;
  }
  .main-container p {
    margin: 15px 0 0;
    font-size: 15px;
    line-height: 1.7em;
    letter-spacing: 0.3px;
  }
  .main-container li {
    overflow: scroll;
  }
  .main-container .post-title {
    font-size: 16px;
  }
  .main-container .archive .post-title {
    font-size: 14px;
  }
  .main-container .archive .listing {
    margin-bottom: 16px;
    padding-left: 20px;
  }
  .main-container .archive .listing-item {
    margin-bottom: 6px;
  }
  .main-container .archive .ar-date {
    font-size: 14px;
  }
  .main-container .post-meta {
    margin-top: 6px;
    font-size: 12px;
    line-height: 1.4em;
  }
  .main-container .post-abstract {
    font-size: 14px;
  }
  .main-container footer {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .main-container footer p {
    color: #222;
    font-size: 12px;
    margin-top: 2px;
  }
  .main-container .about-avatar {
    right: -20px;
    top: 40px;
    transform: scale(0.6);
  }
  .main-container .cplayer-template {
    width: 100%;
  }

  .v .vlist .vcard {
    padding-top: 0.2em !important;
  }
  .v .vlist .vcard .vh {
    padding-bottom: 0;
  }
  .v .vlist .vcard .vquote {
    padding-left: 0;
  }
}
c-player {
  font-size: 16px !important;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  max-width: 550px;
  margin: 30px auto;
}
c-player .cp-controls {
  user-select: none;
}
c-player .cp-lyric {
  width: 100%;
  margin: 0.41667em 0;
}
c-player .cp-play-button {
  height: 2.8em;
  width: 2.8em;
}
c-player .cp-play-button .cp-play-icon {
  margin: 0.8em;
}
c-player .cp-play-button .cp-play-icon.cp-play-icon-paused {
  margin-left: 0.8em;
  margin: 0.7875em;
  margin-left: 1em;
}
c-player .cp-mainbody {
  min-height: 5.16667em;
}
c-player .cp-poster {
  width: 5.16667em;
  height: 5.16667em;
}
c-player .cp-center-container {
  height: 5.16667em;
}
c-player .cp-volume-icon {
  width: 1.76667em;
}
c-player .cp-list-button {
  width: 1.54167em;
  height: 1.54167em;
}
c-player .cp-mode-button {
  width: 1.54167em;
  height: 1.54167em;
}

c-player .cp-play-button,
c-player .cp-volume-button,
c-player .cp-prev-button,
c-player .cp-list-button,
c-player .cp-mode-button,
c-player .cp-next-button {
  border: 0;
  width: 1.54167em;
  height: 1.54167em;
}

@media (max-width: 768px) {
  c-player {
    font-size: 12px !important;
    left: auto;
    transform: none;
    width: 100%;
    margin: 10px auto;
  }
  c-player .cp-mainbody {
    min-height: 5.16667em;
  }
  c-player .cp-poster {
    width: 5.16667em;
    height: 5.16667em;
  }
  c-player .cp-center-container {
    height: 5.16667em;
  }
  c-player .cp-play-button {
    height: 2.8em;
    width: 2.8em;
  }
  c-player .cp-play-button .cp-play-icon {
    margin: 0.8em;
  }
  c-player .cp-play-button .cp-play-icon.cp-play-icon-paused {
    margin: 0.7875em;
    margin-left: 1em;
  }
  c-player .cp-volume-icon {
    width: 1.76667em;
  }
  c-player .cp-list-button {
    width: 1.54167em;
    height: 1.54167em;
  }
  c-player .cp-mode-button {
    width: 1.54167em;
    height: 1.54167em;
  }

  c-player .cp-play-button,
c-player .cp-volume-button,
c-player .cp-prev-button,
c-player .cp-list-button,
c-player .cp-mode-button,
c-player .cp-next-button {
    width: 1.54167em;
    height: 1.54167em;
  }

  c-player .cp-icon,
c-player .cp-prev-icon,
c-player .cp-next-icon,
c-player .cp-volume-icon,
c-player .cp-random-icon,
c-player .cp-single-icon,
c-player .cp-loop-icon,
c-player .cp-list-icon {
    height: 1.54167em;
    width: 1.54167em;
  }
}
.local-search {
  position: relative;
  text-align: left;
  margin-bottom: 10px;
}

.local-search-input-cls {
  width: 200px;
  margin: 10px 0;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #CCC;
  color: #666;
  font-size: 14px;
}

#local-search-close {
  content: "x";
  position: absolute;
  right: 10px;
  top: 10px;
  background: #fff;
  color: #888;
  border-radius: 100%;
  line-height: 20px;
  text-align: center;
  font-size: 16px;
  font-family: consolas;
  border: 1px solid #CCC;
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  transform: rotateZ(0);
  transition: all 0.3s;
}
#local-search-close:hover {
  border-color: #666;
  color: #222;
  transform: rotateZ(180deg);
  transition: all 0.3s;
}

.local-search-result-cls {
  position: absolute;
  z-index: 99;
  width: 400px;
  top: 50px;
  right: 0;
}
.local-search-result-cls .local-search-empty {
  color: #888;
  line-height: 44px;
  text-align: center;
  display: block;
  font-size: 16px;
  font-weight: normal;
}
.local-search-result-cls ul {
  width: 360px;
  max-height: 450px;
  min-height: 0;
  height: auto;
  overflow-y: auto;
  border: 1px solid #CCC;
  padding: 10px 20px;
  background: #FFF;
  box-shadow: 1px 2px 4px #CCC;
}
.local-search-result-cls ul li {
  text-align: left;
  border-bottom: 1px solid #CCC;
  padding-bottom: 20px;
  margin-bottom: 20px;
  line-height: 30px;
  font-weight: normal;
}
.local-search-result-cls ul li:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
.local-search-result-cls ul li a {
  margin-top: 20px;
  font-size: 16px;
}
.local-search-result-cls ul li p {
  margin-top: 10px;
  font-size: 14px;
  max-height: 124px;
  overflow: hidden;
}
.local-search-result-cls ul li em.search-keyword {
  color: #e58c7c;
}

.hint--error.hint--top-left:before, .hint--error.hint--top-right:before, .hint--error.hint--top:before {
  border-top-color: #87CEFA !important;
}

.hint--error:after {
  background-color: #87CEFA !important;
  text-shadow: 0 -1px 0 #87CEFA !important;
}

[class*=hint--]:after {
  color: #000 !important;
}

.my-face {
  animation: my-face 5s infinite ease-in-out;
  display: inline-block;
  margin: 0 5px;
}

@-webkit-keyframes my-face {
  2% {
    -webkit-transform: translateY(1.5px) rotate(1.5deg);
    transform: translateY(1.5px) rotate(1.5deg);
  }
  4% {
    -webkit-transform: translateY(-1.5px) rotate(-0.5deg);
    transform: translateY(-1.5px) rotate(-0.5deg);
  }
  6% {
    -webkit-transform: translateY(1.5px) rotate(-1.5deg);
    transform: translateY(1.5px) rotate(-1.5deg);
  }
  8% {
    -webkit-transform: translateY(-1.5px) rotate(-1.5deg);
    transform: translateY(-1.5px) rotate(-1.5deg);
  }
  10% {
    -webkit-transform: translateY(2.5px) rotate(1.5deg);
    transform: translateY(2.5px) rotate(1.5deg);
  }
  12% {
    -webkit-transform: translateY(-0.5px) rotate(1.5deg);
    transform: translateY(-0.5px) rotate(1.5deg);
  }
  14% {
    -webkit-transform: translateY(-1.5px) rotate(1.5deg);
    transform: translateY(-1.5px) rotate(1.5deg);
  }
  16% {
    -webkit-transform: translateY(-0.5px) rotate(-1.5deg);
    transform: translateY(-0.5px) rotate(-1.5deg);
  }
  18% {
    -webkit-transform: translateY(0.5px) rotate(-1.5deg);
    transform: translateY(0.5px) rotate(-1.5deg);
  }
  20% {
    -webkit-transform: translateY(-1.5px) rotate(2.5deg);
    transform: translateY(-1.5px) rotate(2.5deg);
  }
  22% {
    -webkit-transform: translateY(0.5px) rotate(-1.5deg);
    transform: translateY(0.5px) rotate(-1.5deg);
  }
  24% {
    -webkit-transform: translateY(1.5px) rotate(1.5deg);
    transform: translateY(1.5px) rotate(1.5deg);
  }
  26% {
    -webkit-transform: translateY(0.5px) rotate(0.5deg);
    transform: translateY(0.5px) rotate(0.5deg);
  }
  28% {
    -webkit-transform: translateY(0.5px) rotate(1.5deg);
    transform: translateY(0.5px) rotate(1.5deg);
  }
  30% {
    -webkit-transform: translateY(-0.5px) rotate(2.5deg);
    transform: translateY(-0.5px) rotate(2.5deg);
  }
  32% {
    -webkit-transform: translateY(1.5px) rotate(-0.5deg);
    transform: translateY(1.5px) rotate(-0.5deg);
  }
  34% {
    -webkit-transform: translateY(1.5px) rotate(-0.5deg);
    transform: translateY(1.5px) rotate(-0.5deg);
  }
  36% {
    -webkit-transform: translateY(-1.5px) rotate(2.5deg);
    transform: translateY(-1.5px) rotate(2.5deg);
  }
  38% {
    -webkit-transform: translateY(1.5px) rotate(-1.5deg);
    transform: translateY(1.5px) rotate(-1.5deg);
  }
  40% {
    -webkit-transform: translateY(-0.5px) rotate(2.5deg);
    transform: translateY(-0.5px) rotate(2.5deg);
  }
  42% {
    -webkit-transform: translateY(2.5px) rotate(-1.5deg);
    transform: translateY(2.5px) rotate(-1.5deg);
  }
  44% {
    -webkit-transform: translateY(1.5px) rotate(0.5deg);
    transform: translateY(1.5px) rotate(0.5deg);
  }
  46% {
    -webkit-transform: translateY(-1.5px) rotate(2.5deg);
    transform: translateY(-1.5px) rotate(2.5deg);
  }
  48% {
    -webkit-transform: translateY(-0.5px) rotate(0.5deg);
    transform: translateY(-0.5px) rotate(0.5deg);
  }
  50% {
    -webkit-transform: translateY(0.5px) rotate(0.5deg);
    transform: translateY(0.5px) rotate(0.5deg);
  }
  52% {
    -webkit-transform: translateY(2.5px) rotate(2.5deg);
    transform: translateY(2.5px) rotate(2.5deg);
  }
  54% {
    -webkit-transform: translateY(-1.5px) rotate(1.5deg);
    transform: translateY(-1.5px) rotate(1.5deg);
  }
  56% {
    -webkit-transform: translateY(2.5px) rotate(2.5deg);
    transform: translateY(2.5px) rotate(2.5deg);
  }
  58% {
    -webkit-transform: translateY(0.5px) rotate(2.5deg);
    transform: translateY(0.5px) rotate(2.5deg);
  }
  60% {
    -webkit-transform: translateY(2.5px) rotate(2.5deg);
    transform: translateY(2.5px) rotate(2.5deg);
  }
  62% {
    -webkit-transform: translateY(-0.5px) rotate(2.5deg);
    transform: translateY(-0.5px) rotate(2.5deg);
  }
  64% {
    -webkit-transform: translateY(-0.5px) rotate(1.5deg);
    transform: translateY(-0.5px) rotate(1.5deg);
  }
  66% {
    -webkit-transform: translateY(1.5px) rotate(-0.5deg);
    transform: translateY(1.5px) rotate(-0.5deg);
  }
  68% {
    -webkit-transform: translateY(-1.5px) rotate(-0.5deg);
    transform: translateY(-1.5px) rotate(-0.5deg);
  }
  70% {
    -webkit-transform: translateY(1.5px) rotate(0.5deg);
    transform: translateY(1.5px) rotate(0.5deg);
  }
  72% {
    -webkit-transform: translateY(2.5px) rotate(1.5deg);
    transform: translateY(2.5px) rotate(1.5deg);
  }
  74% {
    -webkit-transform: translateY(-0.5px) rotate(0.5deg);
    transform: translateY(-0.5px) rotate(0.5deg);
  }
  76% {
    -webkit-transform: translateY(-0.5px) rotate(2.5deg);
    transform: translateY(-0.5px) rotate(2.5deg);
  }
  78% {
    -webkit-transform: translateY(-0.5px) rotate(1.5deg);
    transform: translateY(-0.5px) rotate(1.5deg);
  }
  80% {
    -webkit-transform: translateY(1.5px) rotate(1.5deg);
    transform: translateY(1.5px) rotate(1.5deg);
  }
  82% {
    -webkit-transform: translateY(-0.5px) rotate(0.5deg);
    transform: translateY(-0.5px) rotate(0.5deg);
  }
  84% {
    -webkit-transform: translateY(1.5px) rotate(2.5deg);
    transform: translateY(1.5px) rotate(2.5deg);
  }
  86% {
    -webkit-transform: translateY(-1.5px) rotate(-1.5deg);
    transform: translateY(-1.5px) rotate(-1.5deg);
  }
  88% {
    -webkit-transform: translateY(-0.5px) rotate(2.5deg);
    transform: translateY(-0.5px) rotate(2.5deg);
  }
  90% {
    -webkit-transform: translateY(2.5px) rotate(-0.5deg);
    transform: translateY(2.5px) rotate(-0.5deg);
  }
  92% {
    -webkit-transform: translateY(0.5px) rotate(-0.5deg);
    transform: translateY(0.5px) rotate(-0.5deg);
  }
  94% {
    -webkit-transform: translateY(2.5px) rotate(0.5deg);
    transform: translateY(2.5px) rotate(0.5deg);
  }
  96% {
    -webkit-transform: translateY(-0.5px) rotate(1.5deg);
    transform: translateY(-0.5px) rotate(1.5deg);
  }
  98% {
    -webkit-transform: translateY(-1.5px) rotate(-0.5deg);
    transform: translateY(-1.5px) rotate(-0.5deg);
  }
  0%, to {
    -webkit-transform: translate(0) rotate(0deg);
    transform: translate(0) rotate(0deg);
  }
}
@keyframes my-face {
  2% {
    -webkit-transform: translateY(1.5px) rotate(1.5deg);
    transform: translateY(1.5px) rotate(1.5deg);
  }
  4% {
    -webkit-transform: translateY(-1.5px) rotate(-0.5deg);
    transform: translateY(-1.5px) rotate(-0.5deg);
  }
  6% {
    -webkit-transform: translateY(1.5px) rotate(-1.5deg);
    transform: translateY(1.5px) rotate(-1.5deg);
  }
  8% {
    -webkit-transform: translateY(-1.5px) rotate(-1.5deg);
    transform: translateY(-1.5px) rotate(-1.5deg);
  }
  10% {
    -webkit-transform: translateY(2.5px) rotate(1.5deg);
    transform: translateY(2.5px) rotate(1.5deg);
  }
  12% {
    -webkit-transform: translateY(-0.5px) rotate(1.5deg);
    transform: translateY(-0.5px) rotate(1.5deg);
  }
  14% {
    -webkit-transform: translateY(-1.5px) rotate(1.5deg);
    transform: translateY(-1.5px) rotate(1.5deg);
  }
  16% {
    -webkit-transform: translateY(-0.5px) rotate(-1.5deg);
    transform: translateY(-0.5px) rotate(-1.5deg);
  }
  18% {
    -webkit-transform: translateY(0.5px) rotate(-1.5deg);
    transform: translateY(0.5px) rotate(-1.5deg);
  }
  20% {
    -webkit-transform: translateY(-1.5px) rotate(2.5deg);
    transform: translateY(-1.5px) rotate(2.5deg);
  }
  22% {
    -webkit-transform: translateY(0.5px) rotate(-1.5deg);
    transform: translateY(0.5px) rotate(-1.5deg);
  }
  24% {
    -webkit-transform: translateY(1.5px) rotate(1.5deg);
    transform: translateY(1.5px) rotate(1.5deg);
  }
  26% {
    -webkit-transform: translateY(0.5px) rotate(0.5deg);
    transform: translateY(0.5px) rotate(0.5deg);
  }
  28% {
    -webkit-transform: translateY(0.5px) rotate(1.5deg);
    transform: translateY(0.5px) rotate(1.5deg);
  }
  30% {
    -webkit-transform: translateY(-0.5px) rotate(2.5deg);
    transform: translateY(-0.5px) rotate(2.5deg);
  }
  32% {
    -webkit-transform: translateY(1.5px) rotate(-0.5deg);
    transform: translateY(1.5px) rotate(-0.5deg);
  }
  34% {
    -webkit-transform: translateY(1.5px) rotate(-0.5deg);
    transform: translateY(1.5px) rotate(-0.5deg);
  }
  36% {
    -webkit-transform: translateY(-1.5px) rotate(2.5deg);
    transform: translateY(-1.5px) rotate(2.5deg);
  }
  38% {
    -webkit-transform: translateY(1.5px) rotate(-1.5deg);
    transform: translateY(1.5px) rotate(-1.5deg);
  }
  40% {
    -webkit-transform: translateY(-0.5px) rotate(2.5deg);
    transform: translateY(-0.5px) rotate(2.5deg);
  }
  42% {
    -webkit-transform: translateY(2.5px) rotate(-1.5deg);
    transform: translateY(2.5px) rotate(-1.5deg);
  }
  44% {
    -webkit-transform: translateY(1.5px) rotate(0.5deg);
    transform: translateY(1.5px) rotate(0.5deg);
  }
  46% {
    -webkit-transform: translateY(-1.5px) rotate(2.5deg);
    transform: translateY(-1.5px) rotate(2.5deg);
  }
  48% {
    -webkit-transform: translateY(-0.5px) rotate(0.5deg);
    transform: translateY(-0.5px) rotate(0.5deg);
  }
  50% {
    -webkit-transform: translateY(0.5px) rotate(0.5deg);
    transform: translateY(0.5px) rotate(0.5deg);
  }
  52% {
    -webkit-transform: translateY(2.5px) rotate(2.5deg);
    transform: translateY(2.5px) rotate(2.5deg);
  }
  54% {
    -webkit-transform: translateY(-1.5px) rotate(1.5deg);
    transform: translateY(-1.5px) rotate(1.5deg);
  }
  56% {
    -webkit-transform: translateY(2.5px) rotate(2.5deg);
    transform: translateY(2.5px) rotate(2.5deg);
  }
  58% {
    -webkit-transform: translateY(0.5px) rotate(2.5deg);
    transform: translateY(0.5px) rotate(2.5deg);
  }
  60% {
    -webkit-transform: translateY(2.5px) rotate(2.5deg);
    transform: translateY(2.5px) rotate(2.5deg);
  }
  62% {
    -webkit-transform: translateY(-0.5px) rotate(2.5deg);
    transform: translateY(-0.5px) rotate(2.5deg);
  }
  64% {
    -webkit-transform: translateY(-0.5px) rotate(1.5deg);
    transform: translateY(-0.5px) rotate(1.5deg);
  }
  66% {
    -webkit-transform: translateY(1.5px) rotate(-0.5deg);
    transform: translateY(1.5px) rotate(-0.5deg);
  }
  68% {
    -webkit-transform: translateY(-1.5px) rotate(-0.5deg);
    transform: translateY(-1.5px) rotate(-0.5deg);
  }
  70% {
    -webkit-transform: translateY(1.5px) rotate(0.5deg);
    transform: translateY(1.5px) rotate(0.5deg);
  }
  72% {
    -webkit-transform: translateY(2.5px) rotate(1.5deg);
    transform: translateY(2.5px) rotate(1.5deg);
  }
  74% {
    -webkit-transform: translateY(-0.5px) rotate(0.5deg);
    transform: translateY(-0.5px) rotate(0.5deg);
  }
  76% {
    -webkit-transform: translateY(-0.5px) rotate(2.5deg);
    transform: translateY(-0.5px) rotate(2.5deg);
  }
  78% {
    -webkit-transform: translateY(-0.5px) rotate(1.5deg);
    transform: translateY(-0.5px) rotate(1.5deg);
  }
  80% {
    -webkit-transform: translateY(1.5px) rotate(1.5deg);
    transform: translateY(1.5px) rotate(1.5deg);
  }
  82% {
    -webkit-transform: translateY(-0.5px) rotate(0.5deg);
    transform: translateY(-0.5px) rotate(0.5deg);
  }
  84% {
    -webkit-transform: translateY(1.5px) rotate(2.5deg);
    transform: translateY(1.5px) rotate(2.5deg);
  }
  86% {
    -webkit-transform: translateY(-1.5px) rotate(-1.5deg);
    transform: translateY(-1.5px) rotate(-1.5deg);
  }
  88% {
    -webkit-transform: translateY(-0.5px) rotate(2.5deg);
    transform: translateY(-0.5px) rotate(2.5deg);
  }
  90% {
    -webkit-transform: translateY(2.5px) rotate(-0.5deg);
    transform: translateY(2.5px) rotate(-0.5deg);
  }
  92% {
    -webkit-transform: translateY(0.5px) rotate(-0.5deg);
    transform: translateY(0.5px) rotate(-0.5deg);
  }
  94% {
    -webkit-transform: translateY(2.5px) rotate(0.5deg);
    transform: translateY(2.5px) rotate(0.5deg);
  }
  96% {
    -webkit-transform: translateY(-0.5px) rotate(1.5deg);
    transform: translateY(-0.5px) rotate(1.5deg);
  }
  98% {
    -webkit-transform: translateY(-1.5px) rotate(-0.5deg);
    transform: translateY(-1.5px) rotate(-0.5deg);
  }
  0%, to {
    -webkit-transform: translate(0) rotate(0deg);
    transform: translate(0) rotate(0deg);
  }
}
a#download {
  display: inline-block;
  padding: 0 10px;
  color: #000;
  background: transparent;
  border: 2px solid #000;
  border-radius: 2px;
  transition: all 0.5s ease;
  font-weight: bold;
}
a#download:hover {
  background: #000;
  color: #fff;
}

span#inline-yellow {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 80%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0;
  background-color: #f0ad4e;
}

span#inline-green {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 80%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0;
  background-color: #5cb85c;
}

span#inline-blue {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 80%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0;
  background-color: #2780e3;
}

span#inline-purple {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 80%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0;
  background-color: #9954bb;
}

p#div-border-left-red {
  display: block;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-left-width: 5px;
  border-radius: 3px;
  border-left-color: #df3e3e;
}

p#div-border-left-yellow {
  display: block;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-left-width: 5px;
  border-radius: 3px;
  border-left-color: #f0ad4e;
}

p#div-border-left-green {
  display: block;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-left-width: 5px;
  border-radius: 3px;
  border-left-color: #5cb85c;
}

p#div-border-left-blue {
  display: block;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-left-width: 5px;
  border-radius: 3px;
  border-left-color: #2780e3;
}

p#div-border-left-purple {
  display: block;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-left-width: 5px;
  border-radius: 3px;
  border-left-color: #9954bb;
}

p#div-border-right-red {
  display: block;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-right-width: 5px;
  border-radius: 3px;
  border-right-color: #df3e3e;
}

p#div-border-right-yellow {
  display: block;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-right-width: 5px;
  border-radius: 3px;
  border-right-color: #f0ad4e;
}

p#div-border-right-green {
  display: block;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-right-width: 5px;
  border-radius: 3px;
  border-right-color: #5cb85c;
}

p#div-border-right-blue {
  display: block;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-right-width: 5px;
  border-radius: 3px;
  border-right-color: #2780e3;
}

p#div-border-right-purple {
  display: block;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-right-width: 5px;
  border-radius: 3px;
  border-right-color: #9954bb;
}

p#div-border-top-red {
  display: block;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-top-width: 5px;
  border-radius: 3px;
  border-top-color: #df3e3e;
}

p#div-border-top-yellow {
  display: block;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-top-width: 5px;
  border-radius: 3px;
  border-top-color: #f0ad4e;
}

p#div-border-top-green {
  display: block;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-top-width: 5px;
  border-radius: 3px;
  border-top-color: #5cb85c;
}

p#div-border-top-blue {
  display: block;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-top-width: 5px;
  border-radius: 3px;
  border-top-color: #2780e3;
}

p#div-border-top-purple {
  display: block;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-top-width: 5px;
  border-radius: 3px;
  border-top-color: #9954bb;
}

/* 解决 mathjax 长公式超出页面范围 */
.MathJax_Display {
  overflow-x: auto;
  overflow-y: hidden;
}

.material-scrolltop {
  display: block;
  position: fixed;
  width: 0;
  height: 0;
  bottom: 23px;
  right: 23px;
  padding: 0;
  overflow: hidden;
  outline: none;
  border: none;
  border-radius: 2px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  cursor: hand;
  border-radius: 50%;
  background: #ffc0cb;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1);
  -ms-transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1);
}

.material-scrolltop:hover {
  background-color: #ffc0cb;
  text-decoration: none;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5), 0 3px 15px rgba(0, 0, 0, 0.5);
}

.material-scrolltop::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  content: "";
  width: 0;
  border-radius: 100%;
  background: #ffc9d3;
}

.material-scrolltop:active::before {
  width: 120%;
  padding-top: 120%;
  -webkit-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.material-scrolltop.reveal {
  width: 56px;
  height: 56px;
}

.material-scrolltop span {
  display: block;
  font-size: 25px;
  color: #fff;
}

.material-scrolltop, .material-scrolltop::before {
  background-image: url(icons/top-arrow.svg);
  background-position: center 50%;
  background-repeat: no-repeat;
}

/*! Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */
.prettyprint {
  background: #2f3640;
  font-family: Menlo, Bitstream Vera Sans Mono, DejaVu Sans Mono, Monaco, Consolas, monospace;
  border: 0 !important;
}

.pln {
  color: #e6e9ed;
}

ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #656d78;
}

li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9 {
  padding-left: 1em;
  background-color: #2f3640;
  list-style-type: decimal;
}

@media screen {
  .str {
    color: #ffce54;
  }

  .kwd {
    color: #4fc1e9;
  }

  .com {
    color: #656d78;
  }

  .typ {
    color: #4fc1e9;
  }

  .lit {
    color: #ac92ec;
  }

  .pun {
    color: #e6e9ed;
  }

  .opn {
    color: #e6e9ed;
  }

  .clo {
    color: #e6e9ed;
  }

  .tag {
    color: #ed5565;
  }

  .atn {
    color: #a0d468;
  }

  .atv {
    color: #ffce54;
  }

  .dec {
    color: #ac92ec;
  }

  .var {
    color: #e6e9ed;
  }

  .fun {
    color: #e6e9ed;
  }
}

/*# sourceMappingURL=style-dark.css.map */
